################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
**/obj
**/bin
**/Release
/.vs
/src/ScheduleJob/bin/Debug/net6.0
/src/ScheduleJob/obj
/src/ScheduleJob.AADSync.Data/bin/Debug/net6.0
/src/ScheduleJob.AADSync.Data/obj
/src/ScheduleJob.AADSync.Domain/bin/Debug/net6.0
/src/ScheduleJob.AADSync.Domain/obj
/src/ScheduleJob.AADSync.Repository/bin/Debug/net6.0
/src/ScheduleJob.AADSync.Repository/obj
/src/ScheduleJob.AADSync.Service/bin/Debug/net6.0
/src/ScheduleJob.AADSync.Service/obj


/src/ScheduleJobs.WebApi/bin/Debug/net6.0
/src/ScheduleJobs.WebApi/LogDir
/src/ScheduleJobs.WebApi/obj
/src/ScheduleJobs.AADSyncTest/bin/Debug/net6.0
/src/ScheduleJobs.AADSyncTest/obj
/.sonarlint

/src/ScheduleJobs.WebApi/LogDir/log.json
